---
layout: default
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div id="main" role="main">
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}
      <h1 class="page__title custom-title">{{ page.title }}</h1>
    {% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>

<style>
  .custom-title {
    font-size: 1.5rem !important; /* Smaller font size */
    color: darkgreen !important;  /* Dark green color */
    font-weight: bold !important;
    margin-bottom: 1rem;          /* Optional: Add spacing */
  }
</style>
